<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <title>[{{ app_code }}]  - {{ app_nom }} : Une demande d'accès à ECA est en attente de modération</title>
	</head>
	<body>
		Bonjour,
		<br />
		<p>
			L'utilisateur '{{ user.cn }}' (uid='{{ user.username }}') a demandé un accès à la plateforme ECA.
			<br />
			<br />
			Pour traiter cette demande : <a href="{{ serv_chart_eca }}/moderer_demandes_utilisation/{{ user.id }}">cliquez ici</a>
		</p>
		 
		<p>
			Merci
		</p>
	</body>
</html>
