{% extends 'AcReimsCharteGraphiqueBundle::base-acreims.html.twig' %}

{% block stylesheets_global_site %}
	<link rel="stylesheet" href="{{ asset('bundles/app/css/charteca.css') }}" />
{% endblock %}

{% block user %}
	<a href="{{ assistance }}" target="_blank">Assistance</a>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	{# on peut aussi utiliser app.user.username car on utilise le firewall intégré  #}
	{{ rsa_user.getUser.cn }} connecté 
	<input type="button" style="font-size:11px" name="quitButton" value="Se déconnecter" onClick="window.location.replace('{{ path('logout') }}')">
{% endblock %}

{% block menu %}
	{{ include("AppBundle:Default:menu-all.html.twig") }}
{% endblock %}			
			
