{% extends 'AppBundle:Default:base-profil-all.html.twig' %}

{% block body %}

	<table class='contour' width='70%' border='0' cellpading='4' cellspacing='8'>
		<tr class='ligneTitre'><th class='ligneTitre' align='center'>Etat des comptes ECA</th></tr>

		{% if users|length == 0 %}
			<tr><td align='center'><span style='font-weight:bold;'>Aucun compte n'est disponible sur l'application ChartECA</span></td></tr>
		{% else %}
		<tr>
				<td align='center'>
				<table width='85%' style='border-width:1px; border-collapse: collapse;' cellpading='4' cellspacing='8'>
					<tr>
						<th align='left'>uid ldap</th>
						<th align='left'>email académique</th>
						<th align='left'>etat du compte</th>
						{% if is_granted('ROLE_MODERATEUR') or is_granted('ROLE_ADMIN')  %}
						<th>Actions</th>
						{% endif %}
					</tr>
					{% for util in utils %}
					<tr>
						<td><a href="{{ path('consulter_etat_user', { 'id': util.id }) }}">{{ util.username }}</td></a>
						<td>{{ util.email }}</td>
						<td>
							{{ util.etatCompte }}
							{% if util.isEtatRevalidationCharte() and util.dateMaxiRevalidationCharte!=null %}
								 (lim. : {{ util.dateMaxiRevalidationCharte|date("d/m/Y") }}) 
							{% endif %}
						</td>
						{% if is_granted('ROLE_MODERATEUR') or is_granted('ROLE_ADMIN')  %}
						<td>
							{% if util.isEtatModeration() %}
							<a href="{{ path('moderer_demandes_utilisation', { 'id': util.id }) }}">Modérer</a>
							{% endif %}
						</td>
						{% endif %}
					</tr>
					{% endfor %}
				</table>
				</td>
			</tr>
		{% endif %}
	</table>

{% endblock %}
