{% extends 'AppBundle:Default:base-profil-all.html.twig' %}

{% block body %}

	<table class='contour' width='70%' border='0' cellpading='4' cellspacing='8'>
		<tr class='ligneTitre'><th colspan="4" class='ligneTitre' align='center'>Détail du compte ECA et journal pour l'utilisateur : uid={{ util.username }}</th></tr>

		<tr><td colspan="4" style='border: 1px #7966D0; border-bottom-style:dotted;height:10px;'></td></tr>
		<tr>
			<td></td>
			<td align='center'><form method="post" action="{{ path('consulter_etat') }}"><button type="submit" name="submit" value="Annuler">Retour à la liste des utilisateurs ECA</button></form></td>
			<td></td>
		</tr>

		<tr><td colspan="4" style='border: 1px #7966D0; border-bottom-style:dotted;height:10px;'></td></tr>
		<tr>
			<td width="15%">uid :</td>
			<td>{{ util.username }}</td>
			<td>
			{% if is_granted('ROLE_MODERATEUR') or is_granted('ROLE_ADMIN')  %}
				{% if util.isEtatModeration() %}
				<a href="{{ path('moderer_demandes_utilisation', { 'id': util.id }) }}">Modérer</a>
				{% endif %}
			{% endif %}
			</td>
		</tr>
		<tr>
			<td width="15%">email :</td>
			<td>{{ util.email }}</td>
			<td></td>
		</tr>
		<tr><td colspan="4" style='border: 1px #7966D0; border-bottom-style:dotted;height:10px;'></td></tr>
		<tr>
			<td width="15%">etat du compte :</td>
			<td>{{ util.etatCompte }}</td>
			<td>
				{% if util.isEtatRevalidationCharte() and util.dateMaxiRevalidationCharte!=null %}
				Date limite de revalidation : {{ util.dateMaxiRevalidationCharte|date("d/m/Y") }} 
				{% endif %}
			</td>
		</tr>
		<tr><td colspan="4" style='border: 1px #7966D0; border-bottom-style:dotted;height:10px;'></td></tr>
		<tr>
			<td>Fonction(s) :</td>
			<td>{% for fonct in util.fonctions %}{{ fonct }}<br />{% endfor %}</td>
			<td>Etablissements(s) :</td>
			<td>{% for etab in util.etablissements %}{{ etab }}<br />{% endfor %}</td>
		<tr>

		<tr><td colspan="4" style='border: 1px #7966D0; border-bottom-style:dotted;height:10px;'></td></tr>
		<tr>
			<td colspan="4" align='center'>
			<table width='85%' border='1' style='border-width:1px; border-collapse: collapse;' cellpading='4' cellspacing='8'>
				<tr class='ligneTitre'>
					<th colspan="2" class='ligneTitre' align='center'>Journal des actions sur le compte</th>
				</tr>
				<tr>
					<th>Date</th>
					<th>Message</th>
				</tr>
				{% for log in logs %}
				<tr>
					<td>{{ log.date|date("d/m/Y H:i:s") }}</td>
					<td>{{ log.message }}</td>
				</tr>
				{% endfor %}
			</table>
			</td>
		</tr>

	</table>

{% endblock %}
