<div id='menu'>
	<ul>
		<li><a href="{{ path('homepage') }}">Accueil</a></li>

		<li>
			<a href="{{ path('consulter_charte') }}">
				Consulter la charte
			</a>
		</li>

		{# NOTE : retirer la partie  'and not is_granted('ROLE_USER_ACTIF')' pour activer les menus visibles en phase 2 du developpement #}
		{% if is_granted('ROLE_USER') and not is_granted('ROLE_USER_ACTIF') %}
		<li class="has-sub"><a href='#' title="Mes demandes" class=""><span>Mes demandes</span></a>
			<ul>
				{% if is_granted('ROLE_USER_INACTIF') %}
				<li><a href="{{ path('demande_utilisation') }}">Demande utilisation ECA</a></li>
				{% endif %}

				{% if is_granted('ROLE_USER_ATTENTE_ACTIVATION') %}
				<li><a href="{{ path('etat_demande_utilisation') }}">Etat demande d'utilisation ECA</a></li>
				{% endif %}

				{% if is_granted('ROLE_USER_ACTIF') %}
				<li><a href="{{ path('desactiver_compte') }}">Desactiver mon accès ECA</a></li>
				<li><a href="{{ path('augmentation_quota') }}">Demande augmentation quota</a></li>
				{% endif %}

				{% if is_granted('ROLE_USER_REVALIDATION_CHARTE') %}
				<li><a href="{{ path('revalidation_charte') }}">Valider charte d'accès à ECA</a></li>
				{% endif %}
			</ul>
		</li>
		{% endif %}

		{% if is_granted('ROLE_MODERATEUR') or is_granted('ROLE_ASSISTANCE') or is_granted('ROLE_ADMIN')  %}
		<li class="has-sub"><a href='#' title="Gestion des comptes ECA" class=""><span>Gestion des comptes ECA</span></a>
			<ul>
				<li><a href="{{ path('consulter_etat') }}">Consulter l'état des comptes ECA</a></li>

				{% if is_granted('ROLE_MODERATEUR') or is_granted('ROLE_ADMIN')  %}
				<li><a href="{{ path('moderer_demandes_utilisation_liste') }}">Liste des demandes de modération en attente</a></li>
				{% endif %}

				<!--<li><a href="{{ path('consulter_demandes_desactivation') }}">Consulter les demandes de désactivation</a></li>-->
 
			</ul>
		</li>
		{% endif %}

		{% if is_granted('ROLE_MODERATEUR') or is_granted('ROLE_ADMIN')  %}
		<!--<li class="has-sub"><a href='#' title="Gestion" class=""><span>Gestion des quotas</span></a>
			<ul>
				<li><a href="{{ path('moderer_demandes_quota_liste') }}">Modérer les demandes d'augmentation de quota</a></li>

				{% if is_granted('ROLE_ADMIN') %}
				<li><a href="{{ path('gestion_activation_quotas') }}">Gestion activation des quotas</a></li>
				{% endif %}
			</ul>
		</li>-->
		{% endif %}

		{% if is_granted('ROLE_ADMIN')  %}
		<li class="has-sub"><a href='#' title="Mes demandes" class=""><span>Gestion de la charte</span></a>
			<ul>
				<li><a href="{{ path('publier_charte') }}">Publier la charte</a></li>
			</ul>
		</li>
		{% endif %}

	</ul>
</div>

