<div id='menu'>
	{% set cp = app.request.attributes.get('_route') %}
	<ul>
		<li><a href="{{ path('homepage') }}"{% if cp == "homepage" %} class="selectedItem"{% endif %}>Accueil</a></li>

		<li>
			<a href="{{ path('consulter_charte') }}"{% if cp == "consulter_charte" %} class="selectedItem"{% endif %}>
				Consulter la charte
			</a>
		</li>

		{# NOTE : retirer le if suivant pour activer les menus visibles en phase 2 du developpement #}
		{% if not app.user.isEtatActif() %}
		<li class="has-sub"><a href='#' title="Mes demandes"{%  if cp == "demande_utilisation"
									or cp == "etat_demande_utilisation" 
									or cp == "desactiver_compte"
									or cp == "augmentation_quota" 
									or cp == "revalidation_charte" %} class="selectedItem"{% endif %}><span>Mes demandes</span></a>
			<ul>
				{% if app.user.isEtatInactif() %}
				<li><a href="{{ path('demande_utilisation') }}">Demande utilisation ECA</a></li>
				{% endif %}

				{% if app.user.isEtatModeration() %}
				<li><a href="{{ path('etat_demande_utilisation') }}">Etat demande d'utilisation ECA</a></li>
				{% endif %}

				{% if app.user.isEtatActif() %}
				<li><a href="{{ path('desactiver_compte') }}">Desactiver mon accès ECA</a></li>
				<li><a href="{{ path('augmentation_quota') }}">Demande augmentation quota</a></li>
				{% endif %}

				{% if app.user.isEtatRevalidationCharte() %}
				<li><a href="{{ path('revalidation_charte') }}">Valider charte d'accès à ECA</a></li>
				{% endif %}
			</ul>
		</li>
		{% endif %}

		{% if is_granted('ROLE_MODERATEUR') or is_granted('ROLE_ASSISTANCE') or is_granted('ROLE_ADMIN')  %}
		<li class="has-sub"><a href='#' title="Gestion des comptes ECA"{% if cp == "consulter_etat"
										  or cp == "moderer_demandes_utilisation_liste"
										  or cp == "moderer_demandes_utilisation" 
										  or cp == "moderer_demandes_utilisation_refus"
										  or cp == "consulter_demandes_desactivation" %} class="selectedItem"{% endif %}><span>Gestion des comptes ECA</span></a>
			<ul>
				<li><a href="{{ path('consulter_etat') }}">Consulter l'état des comptes ECA</a></li>

				{% if is_granted('ROLE_MODERATEUR') or is_granted('ROLE_ADMIN')  %}
				<li><a href="{{ path('moderer_demandes_utilisation_liste') }}">Liste des demandes de modération en attente</a></li>
				{% endif %}

				<!--<li><a href="{{ path('consulter_demandes_desactivation') }}">Consulter les demandes de désactivation</a></li>-->
 
			</ul>
		</li>
		{% endif %}

		{% if is_granted('ROLE_MODERATEUR') or is_granted('ROLE_ADMIN')  %}
		<!--<li class="has-sub"><a href='#' title="Gestion"{% if cp == "moderer_demandes_quota_liste"
								      or cp == "moderer_demandes_quota" 
								      or cp == "moderer_demandes_quota_refus"
								      or cp == "gestion_activation_quotas" %} class="selectedItem"{% endif %}><span>Gestion des quotas</span></a>
			<ul>
				<li><a href="{{ path('moderer_demandes_quota_liste') }}">Modérer les demandes d'augmentation de quota</a></li>

				{% if is_granted('ROLE_ADMIN') %}
				<li><a href="{{ path('gestion_activation_quotas') }}">Gestion activation des quotas</a></li>
				{% endif %}
			</ul>
		</li>-->
		{% endif %}

		{% if is_granted('ROLE_ADMIN')  %}
		<li class="has-sub"><a href='#' title="Mes demandes"{% if cp == "publier_charte" %} class="selectedItem"{% endif %}><span>Gestion de la charte</span></a>
			<ul>
				<li><a href="{{ path('publier_charte') }}">Publier la charte</a></li>
			</ul>
		</li>
		{% endif %}

	</ul>
</div>


