{% extends 'AppBundle:Default:base-profil-all.html.twig' %}

{% block body %}

	<table class='contour' width='70%' border='0' cellpading='4' cellspacing='8'>
		<tr class='ligneTitre'><th class='ligneTitre' align='center'>Demandes en attente de modération</th></tr>

		{% if utils|length == 0 %}
			<tr><td align='center'><span style='font-weight:bold;'>Aucune demande en attente de modération</span></td></tr>
		{% else %}
		<tr>
				<td align='center'>
				<table width='85%' style='border-width:1px; border-collapse: collapse;' cellpading='4' cellspacing='8'>
					<tr>
						<th></th>
						<th align='left'>uid ldap</th>
						<th align='left'>email académique</th>
						<th>Etablissements</th>
						<th>Fonctions</th>
					</tr>
					{% for util in utils %}
					<tr>
						<td><a href="{{ path('moderer_demandes_utilisation', { 'id': util.id }) }}">Modérer</a></td>
						<td>{{ util.username }}</td>
						<td>{{ util.email }}</td>
						<td>{% for etab in util.etablissements %}{{ etab }}<br />{% endfor %}</td>
						<td>{% for fonct in util.fonctions %}{{ fonct }}<br />{% endfor %}</td>
					</tr>
					<tr><td colspan="5" style='border: 1px #7966D0; border-bottom-style:dotted;height:1px;'></td></tr>
					{% endfor %}
				</table>
				</td>
			</tr>
		{% endif %}
	</table>

{% endblock %}
