<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		
		<title>[{{ app_code }}]  - {{ app_nom }}</title>

		<link rel="shortcut icon" href="{{ asset('bundles/app/images/educnat.ico') }}" TYPE="image/x-icon" />

		<link rel="stylesheet" href="{{ asset('bundles/app/css/charteca.css') }}" />
		<link rel="stylesheet" href="{{ asset('bundles/app/css/menu.css') }}" />
		<link rel="stylesheet" href="{{ asset('bundles/app/css/intranetIriaV2.css') }}" />

		<style>
				a.petit-sans-couleur-de-fond, a.petit-sans-couleur-de-fond.visited, a.petit-sans-couleur-de-fond:hover, a.petit-sans-couleur-de-fond:active, a.petit-sans-couleur-de-fond:focus
				{
					font-size: 9px;
					text-decoration: none;
					color:#000000;
					background-color:#FFFFFF;
				}
		</style>
		{% block stylesheets %}{% endblock %}

		{% block javascripts %}{% endblock %}
		<script>
			function viewWinMl(){	if(navigator.appName == 'Microsoft Internet Explorer'){		winWidth = document.body.clientWidth;		winHeight = document.body.clientHeight;	}else{		winWidth = window.innerWidth;		winHeight = window.innerHeight;	}; 	divWidth = document.getElementById('winMl').style.width; 	divWidth = divWidth.substring(0, divWidth.length - 2); 	divHeight = document.getElementById('winMl').style.height; 	divHeight = divHeight.substring(0, divHeight.length - 2);	document.getElementById('winMl').style.left = (winWidth - divWidth) / 2;	document.getElementById('winMl').style.top = ((winHeight - divHeight) / 2) + document.body.scrollTop - 60;	document.getElementById('winMl').style.visibility='';};
		</script>
	</head>

	<body>
		<a name="topPage"></a>

		{# Popup des mentions légales #}
		<div id="winMl" style="visibility:hidden;width:700px;height:450px">
		<div id="header">
			<div class="closediv" title="Fermer" onClick="document.getElementById('winMl').style.visibility='hidden';">x
			</div>
			<table border="0" width="100%" cellpadding="0" cellspacing="0">
				<tr>
					<td width="50%">
						<a href="https://intra.ac-reims.fr/" title="accueil Intranet">
						<img src="{{ asset('bundles/app/images/logo.png') }}" border="0" align="middle"/>
						</a>
					</td>
					<td class="applicationName">{{ app_titre }}</td>
				</tr>
			</table>
			</div>
			<br />
			<table border="0" width="100%" cellpadding="3" cellspacing="3">
				<tr>
					<td class="titre">Mentions légales
					</td>
				</tr>
				<tr>
					<td class="titre3">Directeur de la publication
					</td>
				</tr>
				<tr>
					<td>la Rectrice de l'académie de Reims, chancelière des universités</td>
				</tr>
				<tr>
					<td class="titre3">Raison sociale
					</td>
				</tr>
				<tr>
					<td>Rectorat de l'académie de Reims | 1, rue Navier | 51082 Reims Cedex<BR>
						téléphone 03.26.05.69.69 | télécopie 03.26.05.69.42
					</td>
				</tr>
				<tr>
					<td class="titre3">Hébergeur
					</td>
				</tr>
				<tr>
					<td>Rectorat de l'académie de Reims | division des Systèmes d'information | 1, rue Navier | 51082 Reims Cedex<BR>
						téléphone 03.26.05.69.72 | télécopie 03.26.05.69.94
					</td>
				</tr>
				<tr>
					<td class="titre3">Conception graphique:
					</td>
				</tr>
				<tr>
					<td>Rectorat de l'académie de Reims
					</td>
				</tr>
				<tr>
					<td class="titre3">Droits de reproduction et liens</td>
				</tr>
				<tr>
					<td>La reproduction de contenu figurant sur ce site est autorisée pour un usage non commercial à condition d'en indiquer la source. La mise en place de liens vers  www.ac-reims.fr est acceptée dans les mêmes conditions.
					</td>
				</tr>
			</table>
		</div>
		{# Fin : popup des mentions légales #}

		<table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0">
			<tr>
				<td class="cotes">&nbsp;
				</td>
				<td class="charteCorps">
					<table border="0" height="100%" width="100%" cellpadding="0" cellspacing="0">
						<tr>
							<td>
								<div id="header">
									<table border="0" width="100%" cellpadding="0" cellspacing="0">
										<tr>
											<td width="50%">
												<a href="https://intra.ac-reims.fr/" title="accueil Intranet">
												<img src="{{ asset('bundles/app/images/logo.png') }}" border="0" align="middle">
												</a>
											</td>
											<td class="applicationName">{{ app_titre }}</td>
										</tr>
									</table>
								</div>
							</td>
						</tr>
						<tr>
							<td style="vertical-align:top;height:100%">
								<div id="connectedUser">
									{% block user %}{% endblock %}
								</div>

								{% block menu %}{% endblock %}			
								<br />
								{% for flashMessage in app.session.flashbag.get('error') %}<div align="center"><span style="color:red;font-weight:bold"><h3>{{ flashMessage }}</h3></span></div>{% endfor %}
								{% for flashMessage in app.session.flashbag.get('notice') %}<div align="center"><span style="color:green;font-weight:bold"><h3>{{ flashMessage }}</h3></span></div>{% endfor %}
								<br />
								{% block body %}{% endblock %}
					 
								<figure class="circle"></figure>
							</td>
						</tr>
						<tr>
							<td style="height:30px;vertical-align:bottom">
								<div id="footer">
									<div id="mentionsLegales">
										<a href="javascript:viewWinMl()">Mentions légales
										</a>
									</div>Copyright © 2017 Rectorat de REIMS. Tous droits réservés.
								</div>
							</td>
						</tr>
					</table>
				</td>
				<td class="cotes">&nbsp;</td>
			</tr>
		</table>
	</body>
</html>
